/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("./AppOverview.css");
@import url("./ValueProposition.css");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.traingle-height {
  max-height: 800px;
}

@media screen and (max-width: 1024px) {
  .traingle-height {
    max-height: 600px;
  }
}

@media screen and (max-width: 550px) {
  .traingle-height {
    max-height: 300px;
  }
}
