/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("./AppOverview.css");
@import url("./ValueProposition.css");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  /* background-color: #f4f4ff; */
}
.text-color {
  color: #00064a;
}
.tag-bg {
  background-color: rgba(36, 13, 133, 0.15);
}
.react-tabs__tab-panel {
  transition: all 0.5s;
  position: relative;
  top: -1rem;
  opacity: 0;
}
.react-tabs__tab-panel--selected {
  top: 0;
  opacity: 1;
}

.react-tabs__tab--selected button {
  background-color: rgba(36, 13, 133, 0.15);
  color: #240d85;
}

input:checked + div {
  @apply border-white;
}
input:checked + div svg {
  @apply block;
}

.hello {
  column-width: 100%;
  columns: 2;
  column-gap: 1rem;
}

.hello .box {
  /* important so a single div never gets distributed between columns */
  break-inside: avoid-column;
  margin-bottom: 1rem;
  break-inside: avoid;
}
.traingle-height {
  height: 120%;
}

@media screen and (max-width: 1024px) {
  .traingle-height {
    height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .hello {
    column-count: 1;
    column-width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .traingle-height {
    height: 300px;
  }
}
